<meta name="viewport" content="width=device-width, initial-scale=1" />
<html>
<head>
  <title>##param3##</title>
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="content-type" content="text/html;charset=gb2312">
  <script src="##GetWebRootPath(/Scripts/jquery/jquery-1.x.js)##"></script>
  <script language="javascript" src="##GetWebRootPath(/Scripts/JQCommon.js)##"></script>
  <link rel="stylesheet" href="##GetWebRootPath(/Css/style.css)##">
  <style>
    .menuText{
      color:#4A67D6;
      font-size:13pt;
    }
    footer {
      right: 0;
      left: 0;
      bottom: 0;
      position: fixed;
      /*自身属性（宽高边框等）*/
      width: 100%;
    }
  </style>
</head>
<body topmargin="0" leftmargin="0" scroll="no" >
<header>
<table style="width:100%;margin-top:75px" cellspacing="0" cellpadding="0" border="0">
  <col style="width:33%">
  <col style="width:33%">
  <col style="width:33%">
  <tr align="center">
    <TD>
      <a href="/bin/hdnet.dll/__ExplainModule?Url=wftodotasklist&usrgid=##param1##" target="_self">
      <img src="##GetWebRootPath(/images/icon/app.png)##" width="60px" height="60px">
      <br><br><font class="menuText">待审批<font>
      </a>
    </td>
    <TD>
      <a href="/bin/hdnet.dll/__ExplainModule?Url=wfalltaskList&usrgid=##param1##" target="_self">
      <img src="##GetWebRootPath(/images/icon/all.png)##" width="60px" height="60px">
      <br><br><font class="menuText">已审批<font>
      </a>
    </td>
    <TD>
      <a href="/bin/hdnet.dll/__ExplainModule?Url=wfflowlist&usrgid=##param1##&UrlFrom=Other" target="_self">
      <img src="##GetWebRootPath(/images/icon/all.png)##" width="60px" height="60px">
      <br><br><font class="menuText">流程列表<font>
      </a>
    </td>
  </tr>
  <tr align="center">
    <TD>
      <a href="/bin/hdnet.dll/__ExplainModule?Url=SysUsrSelfPswMod&usrgid=##param1##&UrlFrom=Other" target="_self">
      <img src="##GetWebRootPath(/images/icon/my.png)##" width="60px" height="60px" style="margin-top:30px">
      <br><br><font class="menuText">我的设置<font>
      </a>
    </td>
  </tr>
</table>
</header>
<footer>
<table style="width:100%;margin-top:75px;margin-bottom:20px" cellspacing="0" cellpadding="0" border="0">
  <col style="width:100%">
  <tr align="center">
    <TD>
      <img src="##GetWebRootPath(/images/sys/logo.png)##" width="150px" height="75px">
    </td>
  </tr>
  <tr align="center">
    <TD style="text-size:12pt;color:#888888;">
      ##param2##：欢迎使用！
    </td>
  </tr>
</table>
</footer>
</BODY>
</HTML>